.bg-primary {
    background-color: #f4f4f4;
}

.bg-secondary {
    background-color: #a7a7a7;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    display: flex;
    padding: 20px 35px 20px 35px;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header-buttons-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bell {
    color: rgb(255, 255, 255);
    margin-right: 35px;
    font-size: 25px;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(0, 122, 27);
}

@media (max-width: 768px) {
    .avatar {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .avatar {
        width: 25px;
        height: 25px;
    }

    .bell {
        margin-right: 20px;
    }

    .name{
        display: none;
    }

    header {
        padding: 12px 20px 12px 20px;
    }
}

.name {
    color: rgb(255, 255, 255);
    margin: 0 0 0 15px;
}
